.dialogs {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    /*min-height: 100%;*/
    background-color: #c9ffbc;

}

/*.users {*/
/*   flex: 0 0 25%;*/
/*    line-height: 1.5;*/
/*}*/
/*.messages {*/
/*   flex: 0 0 50%;*/
/*    line-height: 1.5;*/
/*}*/

.link {
    display: block;
    text-decoration: none;
    color: blueviolet;
}